In [3]:
s = "This is my first class for full stack's data science course"

In [7]:
s

"This is my first class for full stack's data science course"

In [11]:
s = "This is my first class for full stacks data science course"

string parsing

In [16]:
s[0]

'T'

In [17]:
s[-1]

'e'

In [18]:
s[4:9]

' is m'

In [20]:
s[4:10:1]

' is my'

In [22]:
len(s)

58

extract each and every character using for loop

In [9]:
for i in range(len(s)):
    print(s[i])

T
h
i
s

i
s

m
y

f
i
r
s
t

c
l
a
s
s

f
o
r

f
u
l
l

s
t
a
c
k
'
s

d
a
t
a

s
c
i
e
n
c
e

c
o
u
r
s
e

print data in reverse range

In [33]:
"sai" + "Teja"

'saiTeja'

In [35]:
"sai" + str(3)

'sai3'

In [37]:
"Sai" * 6

'SaiSaiSaiSaiSaiSai'

In [41]:
s

'This is my first class for full stacks data science course'

In [42]:
s.find("my")

8

In [44]:
s = "my name is SaiTeja, name of org is ineuron"

In [49]:
s.find("name")

3

In [55]:
b = s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

count function

In [56]:
s.count("m")

3

In [57]:
s.split()

['my', 'name', 'is', 'SaiTeja,', 'name', 'of', 'org', 'is', 'ineuron']

In [61]:
s.split(",""n")

['my name is SaiTeja, name of org is ineuron']

In [62]:
s = "             Sai                   "

In [64]:
s.strip()

'Sai'

In [65]:
s = "              s              a             i"

In [66]:
s.lstrip()

's              a             i'

In [67]:
s = "greeetings from saiteja"

In [68]:
s = s.replace("gr","swer")

In [69]:
s

'swereeetings from saiteja'